//use Roboto font
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body input,
body button,
body select,
body textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

@mixin boxShadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

@mixin buttonShadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

//raise and round buttons
.btn {
  border-radius: 2px;
  @include boxShadow;
}

//remove shadow from a few buttons
.d-editor-button-bar .btn,
.bulk-select-all,
.bulk-clear-all,
.period-chooser-header,
.topic-map .btn.no-text,
.badge-section .btn,
#revision .btn,
#new-account-link,
#login-link {
  border-radius: 0;
  box-shadow: none;
}

//No more image cropping
#reply-control .d-editor-preview img:not(.thumbnail):not(.emoji),
.cooked img:not(.thumbnail):not(.emoji) {
  max-width: 100% !important;
  height: auto;
}

/**/

/*Adding DOW links to top - link text section*/
span#top-navbar-links {
    display:block !important;
    margin:22px 0 0 -273px;
}


/*Start dropping DOW Menu links & shortening title on small windows*/

.extra-info-wrapper .topic-link {
    max-width:600px;
}

@media (min-width: 1150px) {
    .extra-info-wrapper .topic-link {
        max-width:600px;
         padding-right:250px;
    }
}

@media (max-width: 1149px) {
    div.title-wrapper {
         padding-right:280px;
    }
}

@media (min-width: 999px) {
    /*Adding DOW links to top - link container */
    div#top-navbar {
        max-width:none; /*remove max width*/
        width: auto; /*prevent other widths taking over*/
        z-index: 1040; /*stays on top of other header*/
        /*position:relative;
        float:left;*/
        position:fixed;
        top:0;
        left: 58%;
    }
}

@media (max-width: 998px) {  /*jumpover point, attach to right side*/

    div.title-wrapper {
        padding-right:220px;
    }
    
   /*Adding DOW links to top - link text section*/
span#top-navbar-links {
  position: fixed;
  top: 0;
  margin:22px 0px 0px -723px;
    }
    
    div#top-navbar {
    max-width:none; /*remove max width*/
    width: auto; /*prevent other widths taking over*/
    z-index: 1040; /*stays on top of other header*/
    float:right;
    position:relative;
    }
}

@media (max-width: 900px) {  /*jumpover point*/
/*div#top-navbar {
    left: 50%;
}*/
    div.title-wrapper {
        padding-right:220px;
    }
}

@media (max-width: 725px) {
    a.dow-menu#library {
        display:none;
}
    div.title-wrapper {
        padding-right:135px;
    }
    span#top-navbar-links {
        margin-left:-290px;
    }
}

@media (min-width: 571px) {
   i.fa.fa-home:before {
       display:none;
   }
}

@media (max-width: 570px) {
    a.dow-menu#store {
        display:none;
    }
    span#top-navbar-links {
        margin:19px 0 0 -220px;
    }
    
    i.fa.fa-home:before {
        display:initial !important;
        color:#FFF;
        font-size:30px;
}

    span#home-text {
        display:none;
    }

    div.title-wrapper {
        padding-right: 50px;
    }
    .extra-info-wrapper {
        display: block;
}
}

@media (max-width:455px) {
    .extra-info-wrapper {
        display: none;
    }
}

/*Individual links*/
a.dow-menu {
    font-size: 14px;
    padding:0 3px;
    color: white;
}

/*********** COLORS TAGS ***********/
a.tag-insa-lyon.discourse-tag.box{
  background-color: #E12420;
  color: white;
}
a.tag-insa-lyon.discourse-tag.box:before {
  content: "🔒 ";
}
a.tag-hec.discourse-tag.box{
  background-color: #004576;
  color: white;
}
a.tag-hec.discourse-tag.box:before {
  content: "🔒 ";
}
a.tag-essec.discourse-tag.box{
  background-color: #009cde;
  color: white;
}
a.tag-essec.discourse-tag.box:before {
  content: "🔒 ";
}
a.tag-em-lyon.discourse-tag.box{
  background-color: #e2001a;
  color: white;
}
a.tag-em-lyon.discourse-tag.box:before {
  content: "🔒 ";
}

/************ HIDE TITLE *************/
.title-wrapper {
  display: none;
}
